<!-- file: views/partials/header_auth.ejs -->

<!DOCTYPE html>
<html lang="pt-br" class="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = { darkMode: 'class' }
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/main.js" defer></script>
    <title>LearnFlow</title>
</head>
<body class="bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100">
    <div class="flex flex-col items-center justify-center min-h-screen py-10 px-4">
        
        <a href="/" class="flex items-center mb-6">
            <span class="bg-teal-600 dark:bg-teal-500 text-white rounded-md px-3 py-2 text-2xl font-bold mr-2">L</span>
            <span class="text-3xl font-bold text-gray-900 dark:text-white">LearnFlow</span>
        </a>

        <div class="w-full max-w-md bg-white dark:bg-gray-800 shadow-xl rounded-lg p-8">