<%- include('partials/header_auth') %>

    <div class="text-center">
        <h1 class="text-6xl font-bold text-teal-600 dark:text-teal-400">404</h1>
        <p class="text-2xl text-gray-700 dark:text-gray-300 mt-4">Página Não Encontrada</p>
        <p class="text-gray-500 dark:text-gray-400 mt-2">Oops! A página que você está procurando não existe.</p>
        
        <a href="/" 
           class="text-teal-600 dark:text-teal-400 mt-8 inline-block hover:underline focus:outline-none focus:ring-2 focus:ring-teal-500 rounded">
        </a>
    </div>

<%- include('partials/footer_auth') %>