</div> <div class="absolute top-4 right-4">
            <button id="theme-toggle" class="p-2 rounded-md text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline-none focus:ring-2 focus:ring-indigo-500">
                <hero-icon name="sun" class="h-6 w-6 dark:hidden"></hero-icon>
                <hero-icon name="moon" class="h-6 w-6 hidden dark:block"></hero-icon>
            </button>
        </div>

    </div> </body>
</html>